// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.placeList {
  background: #f6f6f6;
  padding: 16px;
}

.placeList h2 {
  font-size: 20px;
  padding: 8px 6px 10px;
}

.placeContainer {
  font-size: 15px;
  line-height: 35px;
}

.placeContainer h2 {
  margin-bottom: 10px;
}

.placeList li:hover, a.active {
  background: #c9c9c9;
}

.placeList a {
  display: block;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  padding: 8px 6px 10px;
  outline: 0;
}

.placeList h2 > a {
  color: #236fff;
  font-size: 15px;
  float: right;
  font-weight: normal;
  border-bottom: none;
  padding: 0px;
}

.placeForm {
  margin-top: 15px;
}