// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rivalList {
  background: #f6f6f6;
  padding: 16px;
}

.rivalList h2 {
  font-size: 20px;
  padding: 8px 6px 10px;
}

.rivalContainer {
  font-size: 15px;
  line-height: 35px;
}

.rivalContainer h2 {
  margin-bottom: 10px;
}

.rivalList li:hover, a.active {
  background: #c9c9c9;
}

.rivalList a {
  display: block;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  padding: 8px 6px 10px;
  outline: 0;
}

.rivalList h2 > a {
  color: #236fff;
  font-size: 15px;
  float: right;
  font-weight: normal;
  border-bottom: none;
  padding: 0px;
}

.rivalForm {
  margin-top: 15px;
}